@import 'tailwindcss';
@plugin "@tailwindcss/forms";

:root {
  --text-primary-color: #0f172b;
  --text-secondary-color: #45556c;
  --primary-green: #009966;
  --primary-blue: #155dfc;
  --primary-orange: #f54a00;
}

body {
  background-color: #f5f5f5;
}
